// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans|Pacifico&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


h1,h2,h3,h4,h5{
	font-family: 'Fjalla One', sans-serif;
}

h1#logo{
	font-family: 'Pacifico', cursive;
	color: #004b67;
}
p,a{
	font-family: 'Noto Sans', sans-serif;
}

.bg-prim{
	background-color: #004b67;
}

.bg-sec{
	background-color: #eee;
}
video {
  width: 100%    !important;
  height: auto   !important;
}